audio {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%; */
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%;
}

button {
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px;
  outline: none;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover {
  color: white;
  background-color: black;
}

.play-pause {}


.volume-up {}

.volume-down {}